Q.1) Convert given hrs & mins in second

In [4]:
hour=int(input("Enter Hour value:"))*3600
minutes=int(input("Enter minutes value:"))*60
seconds=int(input("Enter seconds value:"))
time=hour+minutes+seconds
print("total seconds are",time)

Enter Hour value:1
Enter minutes value:20
Enter seconds value:30
total seconds are 4830

Read file & count numbers of digit
alphabets & symbols

In [39]:
a=input("Enter a string")
d=l=s=0
for c in a:
  if c.isdigit():
    d+=1
  elif c.isalpha():
    l+=1
  else:
    pass
  print("Digits",d)
  print("Letters",l)

Enter a stringsahil1996
Digits 0
Letters 1
Digits 0
Letters 2
Digits 0
Letters 3
Digits 0
Letters 4
Digits 0
Letters 5
Digits 1
Letters 5
Digits 2
Letters 5
Digits 3
Letters 5
Digits 4
Letters 5

Create class

In [14]:
class Math:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def Add(self):
    return self.a+self.b
  def Division(self):
    return self.a/self.b
  def Subtraction(self):
    return self.a-self.b
  def Multiplication(self):
    return self.a*self.b

In [21]:
a=Math(10,5)

In [23]:
print(a.Add())
print(a.Division())
print(a.Subtraction())
print(a.Multiplication())

15
2.0
5
50

Convert Paise in Rupees &
Paises

In [28]:
p=int(input("Enter paisas"))
rs=0
rs=p/100
print(p,"paisa is",rs,"rupees")

Enter paisas1000
1000 paisa is 10.0 rupees

Print
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [37]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

Print
1
3 3
5 5 5
6 6 6 6
7 7 7 7 7

In [33]:
for i in range(1,6,2):
  for j in range(0,i+1,2):
    print(i,end='')
  print()
for k in range(6,8):
  for j in range(1,k-1):
    print(k,end='')
  print()

1
33
555
6666
77777